<div class="giraffe-algorithm" id="mainRow" style="background-image:url('./assests/images/backimg.png');">
      <div class="row" id="workspace">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
          <div class="block-content">

          </div>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="actual-content">
              <img src="./assests/images/step1.png" id="step1" alt="step1 image" />
              <img src="./assests/images/step2.png" id="step2" alt="step2 image" />
              <img src="./assests/images/step3.png" id="step3" alt="step3 image" />
              <img src="./assests/images/step4.png" id="step4" alt="step4 image" />
              <img src="./assests/images/step5.png" id="step5" alt="step5 image" />
              <img src="./assests/images/step6.png" id="step6" alt="step6 image" />
            </div>
            <div class="navbar">
              <input type="button" ui-sref="giraffevoteofthanx" id="actionButton1" disabled style="opacity:0.3;" value="BACK" />
              <!-- <a href="#"><img src="../images/play.png" id="actionButton2"alt="play button"></a> -->
              <input type="button" id="actionButton3" value="NEXT" ui-sref="postAlgo" />
            </div>
          </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div class="workspace-content">
                <img src="./assests/images/gifChat.png" id="chat" alt="chat content" />
                <img src="./assests/images/giraffe.png" id="giraffe" alt="giraffe image" />
              </div>
            </div>
        </div>
      </div>
  </div>
