<div class="giraffe-algorithm" id="mainRow" style="background-image:url('./assests/images/backimg.png');">
 <div class="row">
   <div class="algo-top-content">
     <div class="algo-chat">
       <img src="./assests/images/gifChat.png" id="algo-chat" alt=" chat content" />
     </div>
     <div class="algo-giraffe">
       <img src="./assests/images/giraffe.png" class="algo-moveGiraffe" id="algo-giraffe" alt="giraffe image" />
     </div>
   </div>
   <div class="algorithm-list">
     <img src="./assests/images/step1.png" style="margin-left:7%" id="step1" alt="step1 image" />
     <img src="./assests/images/step2.png" style="margin-left:7%" id="step2" alt="step2 image" />
     <img src="./assests/images/step3.png" style="margin-left:7%" id="step3" alt="step3 image" />
     <img src="./assests/images/step4.png" style="margin-left:7%" id="step4" alt="step4 image" />
     <img src="./assests/images/step5.png" style="margin-left:7%" id="step5" alt="step5 image" />
     <img src="./assests/images/step6.png" style="margin-left:7%" id="step6" alt="step6 image" />
   </div>
 </div>
 <div class="row">
   <div class="algorithm-action">
     <input type="button" ui-sref="giraffevoteofthanx" id="algo-back" value="BACK">
     <input type="button" ui-sref="postAlgo" id="algo-next" value="NEXT">
   </div>
 </div>
</div>
