<div style="background-image:url('./assests/images/confetti1.jpg'); background-repeat:no-repeat; background-size: cover; height:100vh;  margin-top:-20px;">
    <div class="row">
        <div class="col-md-3" style="border:1px solid transparent;">

        </div>
        <div class="col-md-6 text-center" style="border:1px solid transparent;">
            <div class="row">
              <div class="ninjabadgeBorderExp">
                <img id="ninjaBadgeExp" src="./assests/images/ninja_badge.png" alt="ninja">
              </div>
                <div class="animationExp"><p><br><br>Animation is nothing but making a sequence of images or <br>
                 pictures look alive!<br><br>Each successive image in the sequence differs from the <br> previous one in little ways.
                Perhaps in the positions of limbs <br> of a character, locations of things, or the look of a character.<br><br>
                When such a sequence of images is seen in quick <br> succession,it looks like the character is moving, the various <br>
                 things in the scene are in motion,or the appearance of the <br> character is changing.</p></div>
              </div>

            <div class="row" style="margin-top:10px;">
                <button id="continue_button" type="button" name="button" ui-sref="selectingCharacter">CONTINUE ON THE JOURNEY!</button>
            </div>
        </div>
        <div class="col-md-3" style="border:1px solid transparent;"></div>

    </div>

</div>
