<div id="mainRow" style="background-image:url('./assests/images/backimg.png'); ">
    <nav class="navbar" style="height:100px; border:transparent;"></nav>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3">
            <div class="gameElement">
                <p id="gameElementHeading">Game Elements</p>
                <div class="characterBox" style="margin-top:-5px;">
                    <p id="charText">CHARACTERS</p>
                    <div class="circle" id="capPosition"></div>
                    <div class="circle" style="margin-left:18px;"></div>
                    <div class="circle" style="margin-left:18px;"></div>
                    <svg style="margin-left:152px; margin-top:-60px;" width="500" height="100"><line x1="100" y1="0" x2="125" y2="0" stroke="black"/></svg>
                    <p id="textInBox" style="margin-top:-50px; margin-left:20px;">Player-controlled <br> Characters</p>
                    <p id="textInBox" style="margin-top:-40px; margin-left:180px;">Uncontrollable Characters</p>
                    <img src="./assests/images/cap.png" id="capPlaced" style="width: 100px; height: 66px; margin-top:-110px; margin-left:10px;  position:fixed;" alt="">
                    <img src="./assests/images/apple.png" id="applePlaced" style="margin-top:-130px; margin-left:150px; height:100px; width:100px;  position:fixed;" alt="">
                    <img src="./assests/images/monkey.png" id="monkeyPlaced" style="margin-top:-130px; margin-left:285px; height:80px; width:80px;  position:fixed;" alt="">
                      <img src="./assests/images/jungleBG.png" id="bgPlaced" style="margin-top:68px; margin-left:138px; height:112px; width:112px;  border-radius:55px; position:fixed;" alt="">
                      <p class="ruleContainer" id="scoringRulePlaced" >10 points for catching a fruit in the hat</p>
                      <p class="ruleContainer" id="gameOverRulePlaced" >5 fruits are smashed</p>
                </div>
                <div class="characterBox">
                    <p id="charText">BACKGROUND</p>
                    <div class="circleBg"></div>
                </div>
                <div class="characterBox">
                    <p id="charText">RULES</p>
                    <p id="textInBox" style=" margin-top:-5px; text-align:center;">Scoring Rules</p>
                    <div class="ruleBox" style="margin-top: -5px;"></div>
                    <div class="ruleBox"></div>
                    <p id="textInBox" style="text-align:center;">Game Over Rules</p>
                </div>
            </div>
        </div>
        <img id="speechBubblechat" class="chat" src="./assests/images/chat_element5.png"  style="margin-left:270px; display:none; position:fixed;" alt="">
      <div ><img id="game2elementNext"  src="./assests/images/giraffe.png" alt="image"></div>
    </div>
    <button id="back_button" class="button" type="button" name="button" ui-sref="game2elements" >BACK</button>
    <button id="next_button"  type="button" name="button" ui-sref="game2algorithm">NEXT</button>
</div>
