<div id="mainRow" style="background-image:url('./assests/images/backimg.png'); ">
  <nav ng-show="isclicked" class="navbar" style="border:transparent; height:100px;"></nav>
  <nav ng-hide="isclicked" class="navbar" style="background-color:rgba(207, 241, 14, 1); height:100px;">
    <div class="navbarText">
<h3  ng-show="back"  style="font-family:Julee;font-weight:bold"><b>On the left are the steps for building the Monkey game, but in a jumbled order.</b></h3>
<p  ng-show="back"  style="font-family:Julee; font-weight:700; ">Drag and drop them in the centre in the correct sequence.</p>
    </div>
</nav>
    <div class="row" id="display">
      <div class="col-lg-3">
<div class="boxOfRules" ng-drop="true" ng-drop-success="onDropCompleteInList($data,$event)" ng-hide="isclicked" ng-show="back">
  <ul class="draggable-objects" ng-repeat="obj in algorithm track by $index" style="margin-top:30px; list-style-type: none;">
    <li>
     <img  ng-drag="true" ng-drag-data="obj" data-allow-transform="true" ng-drag-success="onDragCompleteInList($data,$event)" src={{obj.rule}}></li><br>
  </ul>
</div>
      </div>
      <div class="col-lg-6">
<div class="boxForCorrectRules"  >
      <div style="margin-top:40px; margin-left:60px;" >
        <img  ng-drop="true" ng-drop-success="onDropComplete1($data,$event)"  src="./assests/images/rulebox1.png" alt="image" style=" position:relative; display:inline-block;">
          <img ng-repeat="obj in droppedObjects1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragComplete1($data,$event)"  src={{obj.rule}} style=" position:relative; margin-left:-500px;">
      </div>
      <div  style="margin-top:40px; margin-left:60px;">
        <img  ng-drop="true" ng-drop-success="onDropComplete2($data,$event)" src="./assests/images/rulebox2.png" alt="image" style=" position:relative; display:inline-block;">
          <img ng-repeat="obj in droppedObjects2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragComplete2($data,$event)" src={{obj.rule}} style=" position:relative; margin-left:-500px; ">
      </div>
      <div style="margin-top:40px; margin-left:60px;">
        <img  ng-drop="true" ng-drop-success="onDropComplete3($data,$event)" src="./assests/images/rulebox3.png" alt="image" style=" position:relative; display:inline-block;">
          <img ng-repeat="obj in droppedObjects3" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragComplete3($data,$event)" src={{obj.rule}} style=" position:relative; margin-left:-500px; ">
      </div>
      <div style="margin-top:40px; margin-left:60px;">
        <img  ng-drop="true" ng-drop-success="onDropComplete4($data,$event)" src="./assests/images/rulebox4.png" alt="image" style=" position:relative; display:inline-block;">
          <img ng-repeat="obj in droppedObjects4" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragComplete4($data,$event)" src={{obj.rule}} style=" position:relative; margin-left:-500px; ">
      </div>
      <div style="margin-top:40px; margin-left:60px;">
        <img  ng-drop="true" ng-drop-success="onDropComplete5($data,$event)" src="./assests/images/rulebox5.png" alt="image" style=" position:relative; display:inline-block;">
          <img ng-repeat="obj in droppedObjects5" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragComplete5($data,$event)" src={{obj.rule}} style=" position:relative; margin-left:-500px; ">
      </div>
  </div>
</div>
      <div class="col-lg-3"  style="margin-top:-10px; text-align:right; margin-left:-50px;">
        <div class="alert" style="display:none;"><img src="./assests/images/warning_img.png"></div>
        <div class="alertbox" style="display:none;"><img src="./assests/images/warning_img2.png"></div>
        <div class="row"><img id="speechBubblechat" src="./assests/images/chat_game2algorithm.png" alt="" ng-show="isclicked" ng-hide="back"></div>
        <div class="row"><img id="giffimg" style="margin-top:-20px;" src="./assests/images/giraffe.png" alt="image" ng-show="isclicked" ng-hide="back"></div>
      </div>
    </div>
    <button id="back_button" class="button" type="button" name="button" ui-sref="game2elements" ng-hide="isclicked"  ng-show="back" >BACK</button>
    <button id="back_button"  type="button" name="button" ng-click="back()" ng-show="isclicked" ng-hide="back">BACK</button>
    <button id="back_button"  type="button" name="button" ng-click="back1()" ng-show="isclicked" ng-hide="back">BACK</button>
    <button id="next_button" style="width:300px;" class="button" type="button" name="button" ng-click="clicked()" ng-hide="isclicked" ng-show="back">CHECK YOUR ANSWER</button>
    <button id="next_button"  type="button" name="button" ng-show="isclicked" ng-hide="back">NEXT</button>
  </div>
