<div class="giraffe-thnx-note" id="mainRow" style="background-image:url('./assests/images/backimg.png');">
  <div class="giraffe-thnx-note-cover">
    <div class="giraffe-thnx-chat">
      <img src="./assests/images/thnxchat.png" alt="chat bubble">
    </div>
    <div class="giraffe-thnx-giraffe-image">
      <img src="./assests/images/giraffe.png" id="giraffe-thnx-note-image" alt=" giraffe image" />
    </div>
    <div class="giraffe-thnx-action-button">
      <input type="button" ui-sref="giraffeGame" id="giraffe-thnx-note-back" value="BACK"/>
      <input type="button" ui-sref="typesOfChar1" id="giraffe-thnx-note-next" value="NEXT"/>
    </div>
  </div>
</div>
