<div class="giraffe-game-page" id="mainRow" style="background-image:url('./assests/images/backimg.png');">
  <div class="row">
    <div class="giraffe-spring-king">
      <!--  scratch game -->
    </div>
    <div class="giraffe-game-instruction"style=" background-image: url('./assests/images/instructionmenance.png');">
        <input type="button" id="giraffe-game-instruction-action" ui-sref="giraffePlay_1"  value="Got it!"/>
    </div>
  </div>
  <div class="girafffe-game-button">
    <input type="button" ui-sref="postAlgo" id="giraffe-game-back"value="BACK"/>
    <input type="button" ui-sref="game2elements" id="giraffe-game-next"value="DONE PLAYING"/>
  </div>
</div>
