<div class="giraffe-game-page" id="mainRow" style="background-image:url('./assests/images/backimg.png');">
  <div class="row">
    <div class="giraffe-game-instruction">
    <iframe allowtransparency="true" width="485" height="402" src="//scratch.mit.edu/projects/embed/155870416/?autostart=false" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="girafffe-game-button">
    <input type="button" ui-sref="postAlgo" id="giraffe-game-back"value="BACK"/>
    <input type="button" ui-sref="game2elements" id="giraffe-game-next"value="DONE PLAYING"/>
  </div>
</div>
