<div class="giraffe-game-page" id="mainRow" style="background-image:url('./assests/images/backimg.png');">
  <div class="row">
    <div class="giraffe-game-instruction">
      <iframe src="http://scratch.mit.edu/projects/embed/155723896?autostart=true" width="1015px" height="705px"></iframe>
    </div>
  </div>
  <div class="girafffe-game-button">
    <input type="button" ui-sref="giraffeIntro_2" id="giraffe-game-back"value="BACK"/>
    <input type="button" ui-sref="giraffevoteofthanx" id="giraffe-game-next"value="DONE PLAYING"/>
  </div>
</div>
