<div class="welcome-giraffe-front-page" id="mainRow" style="background-image:url('./assests/images/backimg.png');" />
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-4">
       <img src="./assests/images/lionMascot.png" id="giraffe-intro1-lion" alt="lion image"/>
    </div>
    <div class="col-lg-6">
      <div class="giraffe-intro1-chat-section">
        <img src="./assests/images/giraffeIntroChat1.png" id="giraffe-intro1-chat1" alt="chat bubble">
        <img src="./assests/images/giraffe.png" id="giraffe-intro1-giraffe" alt="giraffe image"/>
      </div>
    </div>
</div>
<div class="row">
    <div class="giraffe-intro1-button">
      <input type="button" ui-sref="giraffeIntro_1" id="giraffe-intro-back"value="BACK"/>
      <input type="button" ui-sref="giraffeGame" id="giraffe-intro-next"value="NEXT"/>
    </div>
</div>
</div>
