<div class="welcome-giraffe-front-page" id="mainRow" style="background-image:url('./assests/images/backimg.png');">
<div class="row">
  <div class="giraffe-intro-chat-section">
    <img src="./assests/images/giraffeIntroChat.png" style="display:none" id="giraffe-intro-chat" alt="chat bubble">
  </div>
</div>
<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-4">
       <img src="./assests/images/lionMascot.png" id="giraffe-intro-lion" alt="lion image"/>
    </div>
    <div class="col-lg-6 moveGiraffe">
      <img src="./assests/images/giraffe.png" class="giraffe-intro-giraffe" id="giraffe-intro-giraffe" alt="giraffe image"/>
    </div>
</div>
<div class="row">
    <div class="giraffe-intro-button">
      <input type="button" ui-sref="welcomeGiraffe" id="giraffe-intro-back"value="BACK"/>
      <input type="button" ui-sref="giraffeIntro_2" id="giraffe-intro-next"value="NEXT"/>
    </div>
</div>
</div>
