<div class="row">
    <div class="col-lg-8">
      <div class="dashboard-Game-Section">
        <div class="col-lg-4">
          <div class="dashboard-Game-Subsection" id="lion-dance-dashboard-subsection">
            <div class="lion-dance-label">
              <img src="./assests/images/dancinglionlabel.png" id="lion-dance-label" alt="lion-title image" />
            </div>
            <div class="lion-round-image">
              <img src="./assests/images/lionroundimage.png" id="lion-round-image" alt="lion image">
            </div>
            <input type="button" ui-sref="helpLion" id="dashboard-replay-button" value="REPLAY" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="dashboard-Game-Subsection" id="dashboard-subsection-mid">
            <div class="upcoming-game-label">
              <img src="./assests/images/comingsoonlabel.png" id="upcoming-game-label" alt="lion-title image" />
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="dashboard-Game-Subsection" id="dashboard-subsection-last">
            <div class="upcoming-game-label">
              <img src="./assests/images/comingsoonlabel.png" id="upcoming-game-label" alt="lion-title image" />
            </div>
          </div>
          <img src="./assests/images/dottedline.png" id="lion-dashboard-dotline" alt="dotted line image"/>
        </div>
      </div>
      <div class="dashboard-Achievement-Section">
        <div class="dashboard-laurel-poster">
          <img src="./assests/images/laurels.png" id="dashboard-laurel-image" alt="laurel image">
        </div>
        <div class="dashboard-badge-section">
          <div class="col-lg-2">
            <img src="./assests/images/simpleninjabadge.png" id="dashboard-ninja-badge" alt="animation ninja badge">
          </div>
          <div class="col-lg-2">
            <img src="./assests/images/simplesavvybadge.png" id="dashboard-savvy-badge" alt="sequence savvy badge">
          </div>
          <div class="col-lg-2">
            <img src="./assests/images/lockedbadge.png" id="locked-badge" alt="locked badge">
          </div>
          <div class="col-lg-2">
            <img src="./assests/images/lockedbadge.png" id="locked-badge" alt="locked badge">
          </div>
          <div class="col-lg-2">
            <img src="./assests/images/lockedbadge.png" id="locked-badge" alt="locked badge">
          </div>
            <img src="./assests/images/lockedbadge.png" id="locked-badge" alt="locked badge">
          </div>
        </div>
      </div>
    <div class="col-lg-4">
      <div class="dashboard-Detail-Section">
        <div class="lion-dashboard-continue">
          <img src="./assests/images/continue.png" id="lion-dashboard-continue" alt="continue image" />
        </div>
        <div class="lion-dashboard-details">
          <div class="lion-dashboard-sqaure-details">
            <div class="lion-dashboard-upper-square" style="display:inline-flex;">
              <div class="lion-dashboard-sub-square-duration">

              </div>
              <div class="lion-dashboard-sub-square-concepts">

              </div>
            </div>
            <div class="lion-dashboard-lower-square" style="display:inline-flex;margin-top:2%">
              <div class="lion-dashboard-sub-square-badges block">

              </div>
              <div class="lion-dashboard-sub-square-blocks block">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
