<div class="row">
    <div class="col-lg-8">
      <div class="dashboard-Game-Section">
        <div class="col-lg-4">
          <div class="dashboard-Game-Subsection" id="lion-dance-dashboard-subsection">
            <div class="lion-dance-label">
              <img src="./assests/images/dancinglionlabel.png" id="lion-dance-label" alt="lion-title image" />
            </div>
            <div class="lion-round-image">
              <img src="./assests/images/lionroundimage.png" id="lion-round-image" alt="lion image">
            </div>
            <input type="button" ui-sref="welcomeGiraffe" id="dashboard-replay-button" value="CONTINUE" />
          </div>
        </div>
        <div class="col-lg-4">
          <div class="dashboard-Game-Subsection" id="dashboard-subsection-mid">
            <div class="upcoming-game-label">
              <img src="./assests/images/comingsoonlabel.png" id="upcoming-game-label" alt="lion-title image" />
            </div>
            <div class="lion-round-image">
              <img src="./assests/images/giraffeunlocked.png" id="lion-round-image" alt="lion image">
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="dashboard-Game-Subsection" id="dashboard-subsection-last">
            <div class="upcoming-game-label">
              <img src="./assests/images/comingsoonlabel.png" id="upcoming-game-label" alt="lion-title image" />
            </div>
            <div class="lion-round-image">
              <img src="./assests/images/frogunlocked.png" id="lion-round-image" alt="lion image">
            </div>
          </div>
          <img src="./assests/images/dottedLine.png" id="lion-dashboard-dotline" alt="dotted line image"/>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="dashboard-Detail-Section">
        <div class="lion-dashboard-details">
          <div class="lion-dashboard-sqaure-details">
            <div class="lion-dashboard-upper-square" style="display:inline-flex;">
              <div class="lion-dashboard-sub-square-duration">
                <div class="duration-text">
                  <span id="dashboard-inner-text">
                    dur
                  </span>
                  <span id="dashboard-inner-text-duration">
                    MINUTES
                  </span>
                </div>
              </div>
              <div class="lion-dashboard-sub-square-concepts">
                <div class="concept-text">
                  <span id="dashboard-inner-text">
                    con
                  </span>
                  <span id="dashboard-inner-text-concepts">
                    CONCEPTS
                  </span>
                </div>
              </div>
            </div>
            <div class="lion-dashboard-lower-square" style="display:inline-flex;margin-top:2%">
              <div class="lion-dashboard-sub-square-badges block">
                <div class="badge-text">
                  <span id="dashboard-inner-text">
                    bdg
                  </span>
                  <span id="dashboard-inner-text-badges">
                    BADGES
                  </span>
                </div>
              </div>
              <div class="lion-dashboard-sub-square-blocks block">
                <div class="block-text">
                  <span id="dashboard-inner-text">
                    blk
                  </span>
                  <span id="dashboard-inner-text-blocks">
                    LEVELS
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="dashboard-Achievement-Section">
    <div class="dashboard-laurel-poster">
      <img src="./assests/images/laurels.png" id="dashboard-laurel-image" alt="laurel image">
    </div>
    <div class="dashboard-badge-section">
        <img src="./assests/images/lockedbadge.png" id="locked-badge" alt="locked badge">
        <img src="./assests/images/lockedbadge.png" id="locked-badge" alt="locked badge">
        <img src="./assests/images/lockedbadge.png" id="locked-badge" alt="locked badge">
        <img src="./assests/images/lockedbadge.png" id="locked-badge" alt="locked badge">
        <img src="./assests/images/lockedbadge.png" id="locked-badge" alt="locked badge">
        <img src="./assests/images/lockedbadge.png" id="locked-badge" alt="locked badge">
        <img src="./assests/images/lockedbadge.png" id="locked-badge" alt="locked badge">
        <img src="./assests/images/lockedbadge.png" id="locked-badge" alt="locked badge">
    </div>
  </div>
</div>
