<div class="lionBadgePage">
  <img ng-src="./assests/images/milestone.png" id="lion-achievement-milestone" alt="milestone banner image" />
  <div class="lion-achievement-box" style="box-shadow: rgba(0, 0, 0, 0.34902) 5px 5px 5px;">
    <div class="row">
      <div class="animataion-div col-lg-6">
        <a class="lion-achievement-button1" style="cursor:pointer;" ui-sref="badgePopup1">
          <p id="lion-achievement-text">
            Animation Ninja
          </p>
          <img ng-src="./assests/images/ninjabadge.png" id="lion-achievement-animation" alt="animation ninja batch">
        </a>
      </div>
      <div class="sequence-div col-lg-6">
        <a class="lion-achievement-button2" style="cursor:pointer;" ui-sref="badgePopup2">
          <p id="lion-achievement-text">
            Sequence Savvy
          </p>
          <img ng-src="./assests/images/savvybadge.png" id="lion-achievement-sequence" alt="sequence savvy bactch">
        </a>
      </div>
    </div>
  </div>
  <div class="lion-continue">
    <input type="button" id="lion-continuebutton" ui-sref="lionDanceDashboard" value="GO TO MY DASHBOARD" />
  </div>
</div>
