<div style="background-image:url('./assests/images/cave4.png'); background-repeat:no-repeat; background-size: cover; height:100vh;  margin-top:-20px;">
    <div class="row">
        <div class="col-md-3" id="leftcornerBox"></div>
        <div class="col-md-6"></div>
        <div class="col-md-3" style="border:1px solid black; background-color:rgba(215, 215, 215, 1);"></div>
    </div>
    <div class="row">
        <div class="col-md-3" style="border:1px solid transparent;">

        </div>
        <div class="col-md-6 text-center" style="border:1px solid transparent;">
            <div class="row">
                <img id="rockImg" src="./assests/images/rock.jpg" alt="rock"/>
                <img id="runningLion" src="./assests/images/lionDanceTragedy.gif" alt="lion"/>
            </div>
            <div class="row">
                <button id="back_button" type="button" name="button" ui-sref="learndance">BACK</button>
                <button id="next_button" type="button" name="button" ui-sref="flipbook">NEXT</button>
            </div>
        </div>
        <div class="col-md-3" style="border:1px solid transparent;">
            <div class="row"><img id="chat" src="./assests/images/chat.png" alt="chat"/></div>
            <div class="row"> <img id="lionImg" src="./assests/images/lion_mascot.png" alt="lion"/></div>
        </div>

    </div>

</div>
