<div class="row" id="mainRow" style="background-image:url('./assests/images/lion_bg.png');">
  <div class="row">
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center"  style="margin-top:60px; ">
        <!-- <div class="row" style="position:relative; border:1px solid white; "> -->
            <div class="col-lg-4" style="margin-left:150px;">
                <div class="subcards" >
                  <div class="headers">Page 1</div>
                    <div class="lionMoves">
                        <img class="lionMoves" src="./assests/images/move5.png" id="dance4" alt="Dance Step 4 image"  />
                    </div>
                </div>
                <div class="subcards">
                  <div class="headers">Page 4</div>
                    <div class="lionMoves">
                        <img class="lionMoves" src="./assests/images/move3.png" id="dance4" alt="Dance Step 4 image"  />
                    </div>
                </div>
                <div class="subcards">
                    <div class="headers">Page 7</div>
                  <div class="lionMoves">
                      <img class="lionMoves" src="./assests/images/move8.jpg" id="dance4" alt="Dance Step 4 image"  />
                  </div>
                </div>
              </div >
                <div class="col-lg-4"  style="margin-left:-110px;">
                  <div class="subcards">
                    <div class="headers">Page 2</div>
                    <div class="lionMoves">
                        <img class="lionMoves" src="./assests/images/move2.png" id="dance4" alt="Dance Step 4 image"  />
                    </div>
                  </div>
                  <div class="subcards">
                      <div class="headers">Page 5</div>
                    <div class="lionMoves">
                        <img class="lionMoves" src="./assests/images/move1.png" id="dance4" alt="Dance Step 4 image"  />
                    </div>
                  </div>
                  <div class="subcards" >
                    <div class="headers">Page 8</div>
                      <div class="lionMoves">
                          <img class="lionMoves" src="./assests/images/move11.jpg" id="dance4" alt="Dance Step 4 image"  />
                      </div>
                  </div>
                </div>

            <div class="col-lg-4" style="margin-left:-110px;">
                <div class="subcards" >
                    <div class="headers">Page 3</div>
                  <div class="lionMoves">
                      <img class="lionMoves" src="./assests/images/move7.jpg" id="dance4" alt="Dance Step 4 image"  />
                  </div>
                </div>
            <div class="subcards">
              <div class="headers">Page 6</div>
              <div class="lionMoves">
                  <img class="lionMoves" src="./assests/images/move9.jpg" id="dance4" alt="Dance Step 4 image"  />
              </div>
              </div>
                <div class="subcards">
                    <div class="headers">Page 9</div>
                  <div class="lionMoves">
                      <img class="lionMoves" src="./assests/images/move4.png" id="dance4" alt="Dance Step 4 image" />
                  </div>
                </div>

</div>
<!-- </div> -->
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center" >
        <div class="row" id="rowforChat"><img src="./assests/images/chat_step.png" id="chat"  alt="Lion Dance Chat image" /></div>
      <div class="row" id="rowforLion"><img src="./assests/images/lion_mascot.png" id="lionImg" alt="Lion Image" /></div>
    </div>
  </div>

      <button id="back_button" type="button" name="button"  ui-sref="flipbook">BACK</button>
      <button id="continue_button" type="button" name="button" style="bottom:15px;  left:960px; position:fixed;" ui-sref="wrongMoves">HELP THE LION</button>

</div>
