<div class="row" id="mainRow" style="background-image:url('./assests/images/backimg.png');">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="margin-top:80px;">
      <div class="col-md-6" >
        <img id="activityHolder" style="display:none;" src="./assests/images/placeholder_activity.png" alt="image">
        <div>
            <div class="col-md-6" >
                <p id="para1">Player-controlled characters</p>
                <img id="circle_giff" style="display:none;" src="./assests/images/giffincircle.png" alt="">
                <p id="para2">The movement of these character<br>can be controlled by the player</p>
            </div>
            <div class="col-md-6">
                <p id="para3">Uncontrollable Characters</p>
                <img id="circle_star" style="display:none;" src="./assests/images/circle_img.png" alt=""><br>
                <p id="para4">The player has no control over <br> their movement</p>
            </div>
            <img id="Holder" style="display:none;" src="./assests/images/characterHolder.png" alt="image">
        </div>
      </div>
        <div class="col-md-6">
          <div class="row"><img class="movingGiff" id="giffimg" src="./assests/images/giraffe.png" alt="image">
        </div>
      </div>

    </div>
    <div class="col-md-3" style="margin-top:80px; text-align:right;  margin-left:-30px;">
        <div class="row">
            <img id="speechBubblechat" style="display:none;" src="./assests/images/chatDrag.png" style="width:380px; " alt=""></div>
        <!-- <div class="row"><img class="movingGiff" id="giffimg" src="./assests/images/giraffe.png" alt="image"></div> -->
    </div>
    <button id="back_button" style="display:none;" type="button" name="button" ui-sref="giraffevoteofthanx">BACK</button>
    <button id="next_button" class="disabled" style="display:none;" class="button"  type="button" name="button" ui-sref="typesOfChar2">NEXT</button>
</div>
