<div class="row" id="mainRow" style="background-image:url('./assests/images/backimg.png');">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="margin-top:80px;">
            <img id="activityHolder" src="./assests/images/placeholder_activity.png" alt="image">
            <div>
                <div >
                    <p id="chartext1">Game Background</p>
                    <img id="typeCharImg" src="./assests/images/typeCharImg.png" alt="">
                    <p id="chartext2">The background is the image on the screen which <br>does not move throughout the game </p>
                  
                </div>

                <img id="bgHolder" src="./assests/images/background_holder.png" alt="image">
            </div>
    </div>
    <div class="col-md-3" style="margin-top:80px; text-align:right; margin-left:-30px;">
        <div class="row">
            <img id="speechBubblechat" src="./assests/images/background_chat.png" alt=""></div>
        <div class="row"><img id="giffimg" src="./assests/images/giraffe.png" alt="image"></div>
    </div>
    <button id="back_button"  type="button" name="button" ui-sref="typesOfChar2">BACK</button>
    <button id="next_button" class="disabled"  type="button" name="button" ui-sref="playInstruction">NEXT</button>
</div>
