<div class="row" id="mainRow" style="background-image:url('./assests/images/backimg.png'); ">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="margin-top:80px;">
                    <img id="activityHolder" src="./assests/images/placeholder_activity.png" alt="image">
                    <div>
                        <div class="col-md-6">
                            <img  id="rules1" src="./assests/images/rules1.png" alt=""><br><br>
                            <p id="heading1">Scoring Rules</p>
                        </div>
                        <div class="col-md-6">

                            <img id="rules2" src="./assests/images/rules2.png" alt=""><br><br>
                            <p id="heading2">Game Over Rules</p>
                        </div>
                        <img id="ruleHolder" src="./assests/images/rules_box.png" alt="image">
                    </div>
            </div>
            <div class="col-md-3" style="margin-top:80px; text-align:right; margin-left:-30px;">
                <div class="row">
                    <img id="speechBubblechat" src="./assests/images/chat_rules.png" alt=""></div>
                <div class="row"><img id="giffimg" src="./assests/images/giraffe.png" alt="image"></div>
            </div>
            <button id="back_button"  type="button" name="button" ui-sref="typesOfChar1">BACK</button>
            <button id="next_button" class="disabled"  type="button" name="button" ui-sref="typesOfChar3" >NEXT</button>
        </div>
