<div class="welcome-giraffe-front-page" id="mainRow" style="background-image:url('./assests/images/backimg.png');"/>
  <div class="row">
    <div class="col-lg-4" id="giraffe-left-section">

    </div>
    <div class="col-lg-4" id="giraffe-mid-section">
      <div class="giraffe-mid-upper-section">
        <img src="./assests/images/welcomeGiraffeChat1.png" id="welcome-giraffe-chat" alt="Chat bubble">
      </div>
      <div class="giraffe-mid-mid-section">
        <img src="./assests/images/lionMascot.png" id="welcome-giraffe-lion-mascot" alt="lion Image">
      </div>
      <div class="giraffe-mid-lower-section">
        <input type="button" ui-sref="ninjaBadge" id="welcome-giraffe-back"value="BACK"/>
        <input type="button" ui-sref="giraffeIntro_1" id="welcome-giraffe-next"value="LET'S DO IT!">
      </div>
    </div>
    <div class="col-lg-4" id="giraffe-right-section">

    </div>
  </div>
</div>
